@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(10 10 10);
    color: white;
}



/* 'Free' striped background */
/* based on https://heropatterns.com/ */
.striped-free {
    background-color: rgba(0, 0, 0, .2);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a565c4' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}



/* Loader */
/* based on https://cssloaders.github.io/ */
.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    width: 48px;
    height: 48px;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
}

.loader::after {
    border-color: #FF3D00;
    animation-delay: 1s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* Recorder shimmer effect */
/* based on https://www.sliderrevolution.com/resources/css-border-animation/ */
.shimmer {
    position: absolute;
    display: block;
    z-index: -9;
    left:50%;
    top:50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 79%, #dc2626cc 80%, #dc262655 88%, rgba(0,0,0,0) 94%, #dc2626cc 95%, rgba(0,0,0,0) 100%);
    background-size: 200% auto;

    animation: shine 4s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}